<footer style="background-color: #121212; color: #e0e0e0; padding: 10px; text-align: center; margin-top: 40px;">
    <div style="margin-bottom: 5px;">
        <a href="{% url 'about_us' %}" style="color: #FFD700; margin: 0 10px; text-decoration: none; font-size: 0.9em;">About Us</a>
        <a href="{% url 'pp' %}" style="color: #FFD700; margin: 0 10px; text-decoration: none; font-size: 0.9em;">Privacy Policy</a>
    </div>
    <div>
        <a href="https://www.facebook.com" style="color: #FFD700; margin: 0 5px; font-size: 1.5em;" class="fab fa-facebook-f" target="_blank"></a> <!-- Facebook icon -->
        <a href="https://www.twitter.com" style="color: #FFD700; margin: 0 5px; font-size: 1.5em;" class="fab fa-twitter" target="_blank"></a> <!-- Twitter icon -->
        <a href="https://www.linkedin.com" style="color: #FFD700; margin: 0 5px; font-size: 1.5em;" class="fab fa-linkedin-in" target="_blank"></a> <!-- LinkedIn icon -->
        <a href="https://www.instagram.com" style="color: #FFD700; margin: 0 5px; font-size: 1.5em;" class="fab fa-instagram" target="_blank"></a> <!-- Instagram icon -->
    </div>
    <p style="margin-top: 5px; font-size: 0.8em;">&copy; 2024 Ganymede. All rights reserved.</p>
</footer>

<style>
    footer a:hover {
        text-decoration: underline; /* Underline links on hover */
    }

    
    @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
</style>
